.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-xl);
  background-color: var(--card-background);
  box-shadow: var(--shadow-sm);
}

.search-container {
  flex: 1;
  max-width: 400px;
}

.search-bar {
  display: flex;
  align-items: center;
  /* background-color: var(--highlight-color); */
  border-radius: var(--border-radius-md);
  padding: var(--spacing-sm) var(--spacing-md);
}

.search-bar input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-size: var(--font-size-sm);
  margin-left: var(--spacing-sm);
}

.header-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.notification-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--highlight-color);
}

.user-avatar {
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  border-radius: 25%;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.add-btn {
  width: 40px;
  height: 40px;
   border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(48, 48, 102);
  color: white;
}

@media (max-width: 768px) {
  .header {
    padding: 0 var(--spacing-md);
  }
  
  .search-container {
    max-width: 200px;
  }
}