.upcoming-schedule {
  padding: var(--spacing-lg);
  /* background-color: rgb(207, 213, 246) */
}

.schedule-title {
  font-weight: 600;
  margin-bottom: var(--spacing-lg);
  font-size: var(--font-size-md);
}

.schedule-day-section {
  margin-bottom: var(--spacing-lg);
}

.schedule-day {
  color: var(--text-secondary);
  font-size: var(--font-size-sm);
  margin-bottom: var(--spacing-md);
  font-weight: 500;
}

.schedule-items {
  display: flex;
  /* flex-direction: column; */
  gap: var(--spacing-md);
}

.simple-appointment-card {
  background-color: rgb(182, 193, 255);
  color: rgb(48, 48, 102);
  /* background-color: var(--highlight-color); */
  border-radius: var(--border-radius-xl);
  padding: var(--spacing-md) var(--spacing-lg);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.simple-appointment-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* flex: 1; */
}

.simple-appointment-title {
  font-weight: 500;
  margin-bottom: var(--spacing-xs);
  font-size: var(--font-size-sm);
}

.simple-appointment-time {
  font-size: var(--font-size-xs);
  color: var(--text-secondary);
}

.simple-appointment-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  /* background-color: white; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
}